@page "{id}"
@model TopCourse.Web.Pages.Admin.Users.DeleteUserModel
@{
    ViewData["Title"] = "حذف کاربر";
    Layout = null;
}
@using TopCourse.Core.Convertors;


<div class="col-md-12">
    <div class="panel panel-danger">
        <div class="panel-heading">
            حذف حساب کاربری @Model.InformationUserViewModel.UserName
        </div>
        <div class="panel-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="UserId" value="@ViewData["UserId"].ToString()" />

                <dl class="dl-horizontal">
                    <dt>نام کاربری : </dt>
                    <dd>@Model.InformationUserViewModel.UserName</dd>
                    <dt>ایمیل : </dt>
                    <dd>@Model.InformationUserViewModel.Email</dd>
                    <dt>موجودی کیف پول  : </dt>
                    <dd>@Model.InformationUserViewModel.Wallet</dd>
                    <dt>تاریخ عضویت : </dt>
                    <dd>@Model.InformationUserViewModel.RegisterDate.ToShamsi()</dd>
                </dl>
                <input type="submit" value="حذف" class="btn btn-danger btn-block" />
            }
            </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>




