@page
@model TopCourse.Web.Pages.Admin.Roles.CreateRoleModel
@using TopCourse.DataLayer.Entities.Permissions;
@{
    ViewData["Title"] = "افزودن نقش";
    Layout = null;

    List<Permission> permissions = ViewData["Permissions"] as List<Permission>;
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    نقش
                </div>
                <div class="panel-body">
                    <h5>عنوان نقش</h5>
                    <input type="text" asp-for="Role.RoleTitle" class="form-control" placeholder="عنوان نقش جدید را وارد کنید">
                </div>
            </div>
            <p>
                <input type="submit" value="ذخیره" class="btn btn-outline btn-success btn-block" />
            </p>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    دسترسی های نقش
                </div>
                <div class="panel-body">
                    <ul>
                        @foreach (var item in permissions.Where(p => p.ParentID == null))
                        {
                            <li>
                                <input type="checkbox" name="selectedPermission" value="@item.PermissionId" /> @item.PermissionTitle

                                @if (permissions.Any(p => p.ParentID == item.PermissionId))
                                {
                                    <ul>
                                        @foreach (var sub in permissions.Where(p => p.ParentID == item.PermissionId))
                                        {
                                            <li>
                                                <input type="checkbox" name="selectedPermission" value="@sub.PermissionId" /> @sub.PermissionTitle
                                                @if (permissions.Any(p => p.ParentID == sub.PermissionId))
                                                {
                                                    <ul>
                                                        @foreach (var sub2 in permissions.Where(p => p.ParentID == sub.PermissionId))
                                                        {
                                                        <li>
                                                            <input type="checkbox" name="selectedPermission" value="@sub2.PermissionId" /> @sub2.PermissionTitle
                                                        </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

}
